/* General App Container */
.app-container {
    /* max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background: linear-gradient(to left, #EFEFE9, #b9b5b1);
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    width: 100vw;
    padding: 10px;
    overflow-x: hidden; */

    max-width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    background: linear-gradient(to left, #EFEFE9, #b9b5b1);
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    width: 100vw;
    padding: 1vh;
    overflow-x: hidden;
    overflow-y: auto; 

    
  }
  
  /* Submit & Delete Buttons */
  .submit-delete-container {
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: flex;
    gap: 1vw;

    /* display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    top: 10px;
    right: 10px; */
  }
  
  .submit-button, .delete-button {
    background-color: white;
    color: #1e3a8a;
    border: none;
    padding: 1.2vh 1.5vw;
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: red;
    color: #EFEFE9;
    margin-left: 20px;
    align-self: center; 
  }
  
  .submit-button:hover, .delete-button:hover {
    opacity: 0.8;
  }
 
  .force-circle {

    width: 30vw; 
    height: 30vw;

    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
    font-weight: bold;
    position: relative;
    margin-top: 0.5vh;
    margin-bottom:1.8vh;
    background: #B6B1A8;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .force-circle::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 100%;
    border: 20px solid transparent; 
    border-top-color: #232D4B; 
    border-bottom-color: #232D4B;
    border-right-color: #E57200;
    border-left-color: #E57200;
    box-sizing: border-box;
    z-index: 1; 
  }
  .force-circle.spinning::before {
    animation: spin-border 1s linear infinite;
  }
  .force-value {
    font-size: 80%;
    font-weight: bold;
    color:#232D4B;
  
  }

  .start-pause-button {
    margin-top: 10px;
    
    width: 120px;
    padding: 10px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: block;
    margin: 50px auto; 

  }
  
  .start-pause-button.start {
    background: white;
    color: #1e3a8a;
  }
  
  .start-pause-button.pause {
    background: red;
    color: white;
  }

.search-container {
    width: relative;

    position: relative;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .search-suggestions {
    position: absolute;
    width: 100%;
    background: black;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .search-suggestions li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;

  }
  
  .search-suggestions li:hover {
    background: black;
  }
  .force-ball-container{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-top:2%;
    margin-bottom: 10%;
    padding:10px; */

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 50%; */

    
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5vh; /* space between each force block */
      padding-bottom: 4vh;
    

}
.force-circle-total{
  align-self: center;

}
.lower-forces
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.force-circle-front{
  margin-top: 0.3vh; 
  align-self: center;
  margin-bottom: 0.3vh; 

}
.force-circle-back{
  margin-top: 0.3vh; 
  align-self: center;
  margin-bottom: 0.3vh;
}
 
.force-label
{
  
  margin: 0.3vh 0 0.1vh 0;
  font-size: 80%;
  color: #232D4B;
  font-weight: bold;
  line-height: 0;  
  padding: 0;    
}
.force-front{
  align-self: flex-start;
  margin-right: 10%;

}
.force-back{
  align-self:flex-end;
}

.force-label-container{
  /* display: inline-flex; */
  display: flex; 
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
  width: 100%;
  max-width: 80%

}
@keyframes spin-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.mag-title {
  font-size: 30px; /* Large, bold text */
  font-weight: bold;
  text-align: center;
  color: #232D4B; /* Dark blue for contrast */
  text-transform: uppercase;
  letter-spacing: 2px;
  /* margin-bottom: 2px;  */

  color:#232D4B;


  display: inline-block;
  animation: fadeIn 1s ease-in-out;
}

/* .force-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh; /* space between circle and label */
  /* margin: 0;
  padding: 0;
} */ 

.force-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0vh; /* space between circle and label */
  margin: 0;
  padding: 0;
}

