body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  form {

    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  }

  .form_container {
    display:flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 60vh;  
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

button {
    display: block;
    margin: 20px 0 0 auto;
    padding: 10px 20px;
    background-color: #D3D3D3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #D3D3D3;
}

button, .tab, a{
    text-decoration: none; 
    color: inherit; 

}

.navbar {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    display: flex;             /* Enable flexbox */
    justify-content: space-evenly;    /* Center the buttons horizontally */
    align-items: center;  
    background-color: white;
    height: 120px;
    width:100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.nav_button {
    margin: 0 0.005px;

}
.swimmer-progress {
  position: relative;
  padding-bottom: 50px; /* Ensure space at the bottom for buttons */
}

.back-button,
.graph-button {
  position: fixed;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.back-button {
  left: 20px;
}

.graph-button {
  right: 20px;
}
.swimmer-progress {
  position: relative;
  padding-bottom: 50px; /* Ensure space at the bottom for buttons */
}

.back-button,
.graph-button {
  position: fixed;
  bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.back-button {
  left: 20px;
}

.graph-button {
  right: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align items to the bottom */
  align-items: center; /* Center buttons horizontally (optional) */
  height: 200vh; /* Full viewport height */
  padding-bottom: 20px; /* Optional padding at the bottom */
}

/* .record-button {

} */
