
button[type="submit"] {
    background-color: #232D4B; 
    color: #B6B1A8;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease; 
  }
  button[type="submit"]:hover {
    background-color: #54637C; 
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease; 
  }
  .app-container
  {
    background: linear-gradient(to bottom, #EFEFE9, #B6B1A8);
  }
  .form
  {
      background-color:white ;
      color: black;
      border: #232D4B;
      border-radius: 15px;
  }
