
button[type="submit"] {
    background-color: #232D4B; 
    color: #B6B1A8;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.4s ease; 
  }
  button[type="submit"]:hover {
    background-color: #54637C; 
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s ease; 
  }
  .app-container
  {
    background: linear-gradient(to bottom, #EFEFE9, #B6B1A8);
  }
  .form
  {
      background-color:white ;
      color: black;
      border: #232D4B;
      border-radius: 15px;
      align-self: center;
  }

  .title {
    font-size: 36px; /* Large, bold text */
    font-weight: bold;
    text-align: center;
    color: #232D4B; /* Dark blue for contrast */
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2px;
  
    color:#232D4B;
  
  
    display: inline-block;
    animation: fadeIn 1s ease-in-out;
  }