.navbar-custom {
    background-color: #232D4B; 
    padding: 10px 0;
    bottom:0;
    position: fixed;
    width: 100%;
    z-index: 1000; 
  }

  .nav-item {
    text-align: center;
    position: relative;
    background-color: #E57200;
    border-radius: 90px;
    margin-left: 1% ;
    
  }
  
 
  .nav-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    position: relative;  
    overflow: hidden;    
    
  }

  .nav-hover:hover {
    transform: scale(1.1);
    
  }

 
 
  .nav-hover:hover::after {
    height: 100%; /* Expand the background to fill the button */
    z-index: -1000;  
  }
  
  .nav-icon {
    width: 6vh;  /* Set a fixed width */
    height: 6vw; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;   /* Ensure the image stays above the background */
  }
  
  .nav-hover:hover .nav-icon {
    filter: invert(100%);
    transform: scale(1.17);     
    z-index: 1;    
  }
  
  .img-fluid {
    max-width: 100%; 
    height: auto;     
  }
  
