.navbar-custom {
    background-color: #232D4B; 
    padding: 10px 0;
    bottom:0;
    position: fixed;
    width: 100%;
    z-index: 1000; 
    height: 40px; 
  }

  .nav-item {
    
      text-align: center;
      position: relative;
      background-color: #E57200;
      border-radius: 20px; /* Reduce border radius */
      margin-left: 0.5%; /* Adjust spacing */
      font-size: 14px; /* Ensure text fits */
      padding: 8px 15px; /* Adjust padding */
      height: 40px; /* Set fixed height */
      display: flex;
      align-items: center;
      justify-content: center;
    
  }
  
 
  .nav-hover {
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    position: relative;  
    overflow: hidden;     */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px; /* Reduce padding */
    border-radius: 6px; /* Slightly reduce border radius */
    transition: transform 0.2s ease-in-out;
    
  }

  .nav-hover:hover {
    transform: scale(1.1);
    
  }

 
 
  .nav-hover:hover::after {
    height: 100%; /* Expand the background to fill the button */
    z-index: -1000;  
  }
  
  .nav-icon {
    width: 6vh;  /* Set a fixed width */
    height: 6vw; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;   /* Ensure the image stays above the background */
    font-size: 16px; 
  }
  
  .nav-hover:hover .nav-icon {
    filter: invert(100%);
    transform: scale(1.17);     
    z-index: 1;    
  }
  
  .img-fluid {
    max-width: 100%; 
    height: auto;     
  }
  
